{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                <tr>
                    <th>Client ID</th>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>Scoring</th>
                    <th>Options</th>
                </tr>
                </thead>
                <tbody>
                {% for client in clients %}
                    <tr>
                        <td>{{ client.id|e }}</td>
                        <td>{{ client.name|e }}</td>
                        <td>{{ client.surname|e }}</td>
                        <td>{{ client.getScore().result|e }}</td>
                        <td><input type="button" data-id="{{ client.id|e }}" onclick="viewClientPage(this);"
                                   class="btn btn-info" value="View/Edit"></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="navigation">
                {{ knp_pagination_render(clients) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function viewClientPage(d) {
            const clientId = d.getAttribute("data-id");
            location.href = `/clients/${clientId}`;
        }
    </script>
{% endblock %}
